<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title>{{ title }}</title>
  <script src='https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js'></script>
</head>


<body>
  <center>
    <h1>{{ title }}</h1>
  </center>
  <center>
    <canvas id="chart" width="600" height="400"></canvas>
    <script>
      // bar chart data
      var barData = {
        labels : [
          {% for item in labels %}
            "{{ item }}",
          {% endfor %}
	      ],

        datasets : [{
          fillColor: "rgba(151,187,205,0.2)",
          strokeColor: "rgba(151,187,205,1)",
          pointColor: "rgba(151,187,205,1)",
          label: 'Actual Data',
          backgroundColor: 'rgb(255, 0, 0)',
          borderColor: 'rgb(255, 0, 0)',
          data : [
            {% for item in values %}
              "{{ item }}",
            {% endfor %}
          ]
        }, {
          type: 'line',
          label: 'Expected Data',
          // backgroundColor: 'rgb(0, 0, 0)',
          borderColor: 'rgb(0, 0, 255)',
          data: [0, 30, 18, 12, 10, 8, 7, 6, 5, 5]
        }]
      }

      // get bar chart canvas
      var context = document.getElementById("chart").getContext("2d");

      steps = 10
      max = {{max}}
      chartOptions = {
        scaleOverride: true,
        scaleSteps: steps,
        scaleStepWidth: Math.ceil(max / steps),
        scaleStartValue: 0,
        scaleShowVerticalLines: true,
        scaleShowGridLines : true,
        barShowStroke : true,
        scaleShowLabels: true,
        scales: {
            yAxes: [{
                ticks: {
                    suggestedMin: 0,
                    suggestedMax: max
                }
            }]
        }
      }

      // draw bar chart
      var mixedChart = new Chart(context, {
        type: 'bar',
        data: barData,
        options: chartOptions
      });

    </script>
  </center>
</body>
</html>